@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cadastro-paciente-container {
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .input-group {
    margin-bottom: 16px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .botao-cadastrar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #3d9970;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .botao-cadastrar:hover {
    background-color: #2e805a;
  }
  